body.text-center
  h2 Log in
  .form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|


      = f.label :email, class: 'sr-only'
      = f.email_field :email, autofocus: true, autocomplete: "email", id: 'email', class: 'form-control', placeholder: 'email'
      br/


      = f.label :password, class: 'sr-only'
      br/
      = f.password_field :password, autocomplete: "current-password", id: 'password', class: 'form-control', placeholder: 'password'

        - if devise_mapping.rememberable?
      br/
      = f.submit "Login", class: 'btn btn-lg btn-primary btn-block'

  = render "user/shared/links"
