  .form-group
    = f.text_field :content, autofocus: true, autocomplete: "content", class: 'form-control input-md'
      br
    =f.submit "#{I18n.t(".actions.post.comment.button")}", class: 'btn btn-primary'