nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand
  = link_to root_path
    i.fa.fa-home
  a.navbar-brand
  = link_to bookmarked_posts_path
    i.fa.fa-heart
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li#nav1.nav-item.dropdown
        a.nav-link.dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
         | #{I18n.t(".actions.user.management.title")}
        #drop1.dropdown-menu.text-center aria-labelledby="dropdown01"
          = link_to  "#{I18n.t(".actions.user.management.profile")}", profile_path ,  class: 'dropdown-item'
          = link_to  "#{I18n.t(".actions.user.management.change_profile")}", edit_user_registration_path, class: 'dropdown-item'
          = link_to  "#{I18n.t(".actions.user.management.change_password")}", change_password_path, class: 'dropdown-item'
          = link_to "#{I18n.t(".actions.user.management.sign_out")}", destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: "#{I18n.t(".logout")}" }
      li#nav2.nav-item.dropdown
        a.nav-link.dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
         | #{I18n.t(".actions.post.management")}
        #drop2.dropdown-menu.text-center aria-labelledby="dropdown01"
          = link_to "#{I18n.t(".actions.post.create.new")}", new_post_path, class: 'dropdown-item'
          = link_to "#{I18n.t(".actions.post.show.my_post.public")}", published_posts_path, class: 'dropdown-item'
          - if current_user.standard?
            = link_to "#{I18n.t(".actions.post.show.my_post.waiting_confirm")}", confirming_posts_path, class: 'dropdown-item'
          - if current_user.adminnistrator?
            = link_to "#{I18n.t(".actions.post.show.my_post.confirm")}", waiting_confirmations_posts_path, class: 'dropdown-item'
      li#nav2.nav-item.dropdown
        a.nav-link.dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
         | #{I18n.t(".actions.locale.title")}
        #drop2.dropdown-menu.text-center aria-labelledby="dropdown01"
          p
            = link_to "#{I18n.t(".actions.locale.en")}", locale:"en", class: 'dropdown-item'
          p
            = link_to "#{I18n.t(".actions.locale.vi")}", locale:"vi", class: 'dropdown-item'
    = render "layouts/home_layout/search_form"