body.text-center

  h2
    | Change Password
  br
  p
    | Nếu thay đổi password bạn phải đăng nhập laị !!!!
  .form-signin

   = form_for @user, url: change_password_put_path, html: { method: :put}  do |f|
    br

    = f.label :password, class: 'sr-only'
    = f.password_field :password, id: "password",autocomplete: "new-password", class: 'form-control', placeholder: 'new password'

    = f.label :password_confirmation, class: 'sr-only'
    = f.password_field :password_confirmation, id: "confirm_password", autocomplete: "new-password", class: 'form-control', placeholder: 'confim new password'

    =f.submit "Change Password", class: 'btn btn-lg btn-primary btn-block'

  = link_to  " Home >>", root_path