  = f.label :title,class: 'form-group col-md-8 control-label'
  = f.text_field :title, id: 'title', autocomplete: "title", class: 'form-control col-md-8 input-md', placeholder: "#{I18n.t(".input.post.title")}"
  br
  = f.label :content, class: 'form-group col-md-8 control-label'
  = f.text_area :content, size: "10x10", id: 'content', autocomplete: "content", class: 'form-control col-md-8 input-md', placeholder: "#{I18n.t(".input.post.content")}"
  br
  = f.label :cover_image, class: 'form-group col-md-8 control-label'
  = f.file_field :cover_image, id: 'cover_image', autocomplete: "cover_image", class: 'form-control col-md-4 input-md', placeholder: 'cover_image'
  br
  = f.submit "#{I18n.t(".actions.post.submit")}", class: 'btn btn-lg btn-primary col-md-2'