main role="main"
  .jumbotron
  .container
    .row
      - @post.each do |post|
        .col-md-4
          h2 =post.title
          - if post.cover_image.attached?
            = image_tag  post.cover_image, heigh:"250px", width:"300px"
          p =post.content
          = link_to "#{I18n.t(".button.view_details")}",post , class: 'btn btn-secondary'
          / - if current_user.adminnistrator?
          /   = link_to confirm_post_path(post.id), method: :post,class: 'btn btn-primary'
          /     | #{I18n.t(".button.agree")}
          /   = link_to cancel_post_path(post.id), method: :post, class: 'btn btn-danger'
          /   | #{I18n.t(".button.refuse")}
          / - if current_user.standard?
          = link_to delete_post_path(post), class: 'btn btn-danger', method: :delete
            | #{I18n.t(".button.delete")}
          = link_to edit_post_path(post), class: 'btn btn-primary'
              | #{I18n.t(".button.update")}
    .row
      .col-md-4
        == pagy_bootstrap_nav(@pagy)