.container
  .row
    - @post.each do |post|
      .col-md-4
        h2 =post.title
        - if post.cover_image.attached?
          = image_tag  post.cover_image, heigh:"250px", width:"300px"
        p =post.content
        = link_to "#{I18n.t(".button.view_details")}",post , class: 'btn btn-secondary'

        = link_to  post_like_index_path(post.id), class: 'btn btn-primary', remote: true, method: :post
          | #{I18n.t(".button.like")}
          i.fa.fa-thumbs-up
          i class="like_#{post.id}"
            = post.likes.count
        = link_to post_book_mark_index_path(post.id), class: 'btn btn-danger', method: :post, remote: true
          | #{I18n.t(".button.bookmark")}
          i.fa.fa-heart
          i class="bookmark_#{post.id}"
            = post.bookmarks.count
  .row
    .col-md-4
      == pagy_bootstrap_nav(@pagy)