DOCTYPE
html
  head
    title StoryWeb

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render  "layouts/home_layout/header"
    = toastr_flash
    = yield
    = render  "layouts/home_layout/footer"
